body{
    background-color: rgb(156, 174, 181);
    font-family: 'Girassol', cursive, 'Franklin Gothic Medium';
}
h1{
    font-size: 35px;
    text-align: center;
    color: black;
}
p{
    font-size: 20px;
    text-align: center;
    color: black;
}
#rock{
    background-color: rgb(59,100,146);
    border: none;
    color:black;
    padding: 41px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'Girassol', cursive, 'Franklin Gothic Medium';
}
#scissor{
    background-color: rgb(59,100,146);
    border: none;
    color: black;
    padding: 40px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'Girassol', cursive, 'Franklin Gothic Medium';
}
#paper{
    background-color: rgb(59,100,146);
    border: 20px;
    color: black;
    padding: 40px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    font-family: 'Girassol', cursive, 'Franklin Gothic Medium';

}
#rock:hover{
	background-image: url(https://cdn.shopify.com/s/files/1/1661/5331/products/rocks3_800x.jpg?v=1527199350);
}
#paper:hover{
    background-image: url(http://4.bp.blogspot.com/-NR2KgqwqUBQ/VFuZHB9JsfI/AAAAAAAAAes/Dr-pE1fCJAA/s1600/Paper_Texture_by_Spiteful_Pie_Stock.jpg);
}
#scissor:hover{
    background-image: url(http://4.bp.blogspot.com/_abe0p86QmVA/RpeFTdFh1TI/AAAAAAAAAUU/D6cClmJV3z0/s320/scissors.jpg);
}
#player{
    color: black;
    font-size: 20px;
    text-align: center;
}
#computer{
    color: black;
    font-size: 20px;
    text-align: center;
}
#selection{
    text-align: center;
}
#results{
    text-align: center;
}
#gameover{
    display: flex;
    align-items: center;
    justify-content: center;
}
#overButton {
    background-color: rgb(59,100,146);
    font-family: 'Girassol', cursive, 'Franklin Gothic Medium';
    font-size: larger;
    color: black;
}
/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}