body{
    background-color: #9caeb5;
    font-family: 'Girassol', cursive, 'Franklin Gothic Medium';
}
h1{
    font-size: 2em;
    text-align: center;
    color: black;
    margin-top:20px;
    margin-bottom: 0;
}
h2{
    text-align: center;
}
#intro{
    margin: auto;
}
p{
    font-size: 20px;
    text-align: center;
    color: black;
}
.buttons{
    background-color:#3b6492;
    border: none;
    padding: 41px 35px;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
    outline: 0;
}
#player{
    color: black;
    font-size: 20px;
    text-align: center;
}
#computer{
    color: black;
    font-size: 20px;
    text-align: center;
}
#selection{
    text-align: center;
}
#results{
    text-align: center;
}
#gameover{
    display: flex;
    align-items: center;
    justify-content: center;
}
#overButton {
    background-color: #3b6492;
    font-family: 'Girassol', cursive, 'Franklin Gothic Medium';
    font-size: larger;
    color: black;
}
.choice{
    margin-top: 20px;;
}
.play-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .play-box {
    margin: 20px;
    width: 190px;
    text-align: center;
  }
  
  .vertical-line {
    width: 0.5%;
    margin: 20px 100px;
    background-color: white;
  }
 /*Footer*/ 
  footer {
	padding: 10px;
	width: 100%;
	font-size: .7em;
	text-align: center;
	position: fixed;
	bottom: 0;
  }
.small-text {
  font-size: 1em;
  display: block;
  text-align: center;
  margin-top: 5px;
}
/*Media queries*/
@media (max-width: 700px) {
    .page-title {
      font-size: 2.5em;
    }
    
    .vertical-line {
      margin: 20px 20px;
    }
  
    .play-box {
      font-size: 80%;
    }
  
    .rock, 
    .paper,
    .scissor {
      width: 6em;
      height: 6em;
    }
  
    .restart-button {
      width: initial;
      font-size: 1em;
    }
  
    .description {
      font-size: .7em;
    }
  }